body {
  font-family: Fira Sans; /* Семейство шрифтов */
  font-size: 8px; /* Размер основного шрифта в пунктах  */
  margin-top: 0.1cm;
  margin-bottom: 0.1cm;
  margin-left: 0.1cm;
  margin-right: 0.1cm;
}
